*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    background-color: rgba(128, 128, 128, 0.5);
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;       
}

header {   
    background-color: rgba(96, 6, 99, 0.836);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1 {     
    color: #fff; 
    font-family: sans-serif;    
    text-align: center;
    padding: 40px 0 40px 0;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgba(96, 6, 99, 0.836);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 40px;
}

form {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 360px;
}


.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input, 
.form-campo {
    width: 100%;
    display: block;
    padding: 8px;
} 

.form-campo textarea {
    resize: none;
    height: 120px;
}

form input {
    color: rgba(96, 6, 99, 0.836);
}

form button {
    max-width: 120px;
}